
<br>
<br>
<br>
<br>
<% if current_user && @neopet && @neopet.current_hp_stat > 0 %>
<div id="pet-page" class="container">
<% else %>
<div id="death-page" class="container">
<% end %>

  <div class="row" id="top">
    <div class="col-4">
    
      <% if current_user && @neopet && @neopet.current_hp_stat > 0 %>
        <div class="tree-bg">
          <%= image_tag "#{@neopet.pet_pic}", id: 'pet1', class: 'overlay-img' %>
        </div>
      <%= button_to "Send #{@neopet.pet_name} to battle (you monster)",   neopet_battles_path(@neopet), type: "button", class: "btn btn-light", :method => 'get'%>
      <br>
      <%= button_to "send #{@neopet.pet_name} to the farm", neopet_path(@neopet), class: 'btn btn-light', :method => 'delete' %>
       <% end %> 
    </div>

    <div class="col-4">
    <br>
     <% if current_user && @neopet && @neopet.current_hp_stat > 0 %>
        <ul style="list-style-type:none">
      <div class="stats-bg">
          <br>
          <br>
          <br>
          <li>Attack - <%= "#{@neopet.att_stat}" %></li>
          <br>
          <li>Defense - <%= "#{@neopet.def_stat}" %></li>
          <br>
          <li>Speed - <%= "#{@neopet.spd_stat}" %></li>
          <br>
          <li>Health - <%= "#{@neopet.current_hp_stat}/#{@neopet.hp_stat}" %></li>
          <br>
          <br>
          <br>
      </div>
      <% else %>
      <br>
      <%= button_to "#{@neopet.pet_name} has died", neopet_path(@neopet), class: 'btn btn-light', :method => 'delete' %>
        <img id="headstone" class="overlay-img" src='https://png2.cleanpng.com/sh/f8d41d89ba643d11df0fe3419e512393/L0KzQYm3U8I5N5D7j5H0aYP2gLBuTfdzaadqRdVqcoTyf7A0hQJif5pzf59xZXHng8X2jvUua5ZyfeZucomwRbLpg8A4aWM3UacANkSxSYi9WMM2P2k2TaQ7Mke1QYe5UcY6O191htk=/kisspng-grave-cartoon-drawing-headstone-cemetery-5abc07a2295564.9768357815222721621693.png'>
      <% end %> 
    </div>
    

    <div class="col-4">
      <div class="col-hunger">
        <ul>
      <% if current_user && @neopet && @neopet.current_hp_stat > 0 %>
        <% if @neopet.pet_hungry %>
          <li><%= "#{@neopet.pet_name} is "%><span class="pulsate"><span class="hungry"> hungry </li>
        <% else %>
          <li><%= "#{@neopet.pet_name} is "%><span class="full"> full</span></li>
        <% end %>
        </ul>
        <%= button_to "Feed #{@neopet.pet_name}", neopet_feed_path(@neopet.id), class: 'btn btn-light', method: 'post'%>
     

      <% end %>
      </div>
    </div>
  </div>
</div>




